<main class="form-signin w-100 m-auto">
    <form action="/home/register" method="post">
        <h1 class="h3 mb-3 fw-normal">Register Here!</h1>

        <div class="form-floating">
            <input type="name" class="form-control mb-1" name="Name" id="name" placeholder="Enter your name">
            <label>Name</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control mb-1" name="Email" id="email" placeholder="name@example.com">
            <label>Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control mb-1" name="Password" id="password" placeholder="Password">
            <label>Password</label>
        </div>
        <div>
            <a href="/login/index" class="btn btn-secondary">Cancel</a>
            <a href="" class="btn btn-success">Register</a>
        </div>
    </form>
</main>



