@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-items-center">
    <div>
        <a class="text-dark bg-secondary p-3" style="text-decoration:none" asp-controller="Home" asp-action="Login">Login</a>
        <a class="text-dark bg-info p-3" style="text-decoration:none" asp-controller="Home" asp-action="Register">Register</a>
    </div>
</div>
